$blue: #7BAAA2
$yellow: #EFE05D

body
    background-color: $blue
    color: white
    font-family: Frutiger, sans-serif !important

@font-face 
    font-family: Frutiger 
    src: url(../fonts/Frutiger.woff)

@font-face 
    font-family: Frutiger
    src: url(../fonts/Frutiger_bold.woff)
    font-weight: bold

.bold 
    font-family: Frutiger, sans-serif !important
    font-weight: bold

footer
    background-color: $yellow
    padding: 0 18vw

a
    color: white
    text-decoration: none

a:hover
    color: $yellow

#mc_embed_signup
    display: flex
    color: $blue 

#mc_embed_signup form
    padding: none !important

@media (min-width: 1200px)
    .h1, h1
        line-height: 2.5rem 

