---
layout: default
page_blocks:
- template: text-block
  text: '<p><strong>Exhibitions</strong></p><p>The exhibitions at Manchester Art Gallery
    have brought together two of Suzanne Lacy''s Manchester projects, <em>Cleaning
    Conditions </em>and a new work, <em>Uncertain Futures, </em>created with an Advisory
    Group of 15 women over 50<em>.</em> This exhibition transforms the Gallery into
    a convening space for people to discuss the issues and act together to create
    real social change. Both projects are made with Mancunians and respond to urgent
    social questions about labour and the impact of gender, class and migration.</p><p
    class="MsoNormal">A new film of the 2013 project <em>Cleaning Conditions </em>was
    premiered in the first installation. A team of volunteer ‘sweepers’ from labour,
    living wage and immigration organisations swept the Gallery floors daily for two
    weeks, pausing at the end of each day for a conversation on current labour conditions
    in England.</p><p><img src="/assets/img/cleaning-conditions.jpg" title="Work  1852-1865
    Ford Madox Brown  1821-1893 Oil on canvas Purchased 1885.1"></p><p>The moral value
    of work was much discussed in the middle of the 19th century. This painting, displayed
    alongside Uncertain Futures reflects that debate.</p><p class="MsoNormal">One
    day, as Brown walked to his Hampstead studio, he caught sight of a group of navvies
    digging a drain. He had been reading <em>Past and Present</em> by historian Thomas
    Carlyle (pictured with beard on the right), which discussed the nobility of labour.
    It occurred to Brown that navvies were as worth painting as any group of picturesque
    Italian peasants who graced the walls of London art galleries.</p><p class="MsoNormal">It
    is both a realistic street scene and an allegory about class and work in society.
    Brown contrasts work and idleness, poverty and wealth, physical work and mental
    work. This epic of mid-Victorian life arose directly from contemporary social
    and political ideas, and is unique in 19th century art.</p><p><em>Installation
    1: The Interviews</em></p><p>Manchester Art Gallery, 24 June 2021 – September
    2022</p><p class="MsoNormal">The <em>Uncertain Futures</em> exhibition opened
    on 24 June 2021 with 100 live interviews taking place with women over 50 in a
    booth in the gallery. The interviews were transcribed and anonymised, then displayed
    on clipboards for visitors to read. A sound and text piece played in the gallery
    when interviews weren’t taking place sharing the experiences of the work for the
    14 members of the Advisory Group.</p><p class="MsoNormal">The 100 women came together
    for a celebratory dinner in March 2022 to honour their commitment and to thank
    them for sharing their stories, their intellect and their positive energy. This
    was a key networking opportunity and chance to share and develop agency about
    issues affecting women over 50 and work.</p><p><img src="/assets/img/img_9584.jpg"
    title="Photo of Booth: Michael Pollard"></p><p><img src="/assets/img/img_9557.jpg"
    title="Photo of Clip Boards: Michael Pollard"></p><p></p><p><img src="/assets/img/img_9592.jpg"
    title="Photo of Graphic Matrix: Design: Stephen Caton / Photograph: Michael Pollard"></p><p></p><p><img
    src="/assets/img/26.jpg" title="Photo of Installation Space: Andrew Brooks"></p><p></p><p><em>Installation
    2: The Process</em></p><p>Manchester Art Gallery, September 2022 - date </p><p>In
    the second iteration of the exhibition, we reveal the development of the <em>Uncertain
    Futures</em> and initial research findings. The project continues as interviews
    are being analysed by our research team. This website has been created to merge
    the lived work experiences of women over 50 in Manchester with legal and social
    policymaking and age discrimination case law. <em>Uncertain Futures</em> combines
    art, research and activism and aims to create real social change and affect social
    policy.</p><p><img src="/assets/img/installation-space-2.jpg" title="Photo of
    Installation 2: Michael Pollard"></p>'
- template: text-block
  text: "<p><strong>Video Productions</strong></p>"
- template: text-block
  text: "<p>Alina and Finn, As a Woman Over 50</p>"
- template: video-upload
  video_link: https://www.youtube.com/watch?v=svnTPLZCGL8
- template: text-block
  text: "<p>Mark Thomas sound/text track (From Installation 1)</p>"
- template: text-block
  text: "<p>Mark Thomas 100 women dinner (from installation 2)</p>"
- template: text-block
  text: '<p>Photographers</p><p><img src="/assets/img/5.jpg" title="Photo of 100 Women''s
    Dinner: Andrew Brooks"></p><p><img src="/assets/img/ag-on-steps.jpg" title="Photo
    of Advisory Group on the steps: Audrey Albert"></p><p></p><p><img src="/assets/img/picture2.jpg"
    title="Photo of Zoom Advisory Group: Ahmarni Vidal-Simon"></p><p></p><p></p><p></p><p></p>'
- template: text-block
  text: ''

---
<div class="header-mobile header-team d-flex pt-4 pb-2">
    <div class="d-flex justify-content-between align-items-start top-header"><a href="{{ site.baseurl }}/"><h1 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h1></a><button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button></div>
    </div>
    <div class="justify-content-center flex-column navbar">
        <p><a href="{{ site.baseurl }}/#about">About</a></p>
        <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
        <p><a href="{{ site.baseurl }}/research-themes">Research Themes</u></a></p>
        <p><a href="{{ site.baseurl }}/aesthetic-productions"><u class="yellow-underline">Aesthetic Productions</u></a></p>
        <p><a href="{{ site.baseurl }}/team">Team</a></p>
        <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
    </div>
    
    
    <div class="header header-team d-flex justify-content-between  align-items-center pt-4">
        <a href="{{ site.baseurl }}/"><h4 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h4></a>
        <div class="d-flex w-50 justify-content-between px-4 menu-items">
            <p><a href="{{ site.baseurl }}/#about">About</a></p>
            <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
            <p><a href="{{ site.baseurl }}/research-themes">Research Themes</u></a></p>
            <p><a href="{{ site.baseurl }}/aesthetic-productions"><u class="yellow-underline">Aesthetic Productions</u></a></p>
            <p><a href="{{ site.baseurl }}/team">Team</a></p>
            <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
        </div>
    </div>
    

    <div class="text-container team-container">
            <h1 class="bold mb-5">Aesthetic<br>Productions</h1>
            {% for block in page.page_blocks %}
                {% if block.template == 'text-block' %}
                <div class="team-text mb-5">{{block.text}}</div>
                {% elsif block.template == 'video-upload' %}
                <div class="team-text mb-5">
                    <iframe style="aspect-ratio: 16 / 9; width: 100%;" src="https://www.youtube.com/embed/svnTPLZCGL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {% endif %}
            {% endfor %}
    </div>

