---
layout: default
page_blocks:
  - type: text-block
    text: >-
      # **Installation 1: The Interviews**


      ###### Manchester Art Gallery, 24 June 2021 – September 2022


      The *Uncertain Futures* exhibition opened on 24 June 2021 with 100 live interviews taking place with women over 50 in a booth in the gallery. The interviews were transcribed and anonymized, then displayed on clipboards for visitors to read. A sound and text piece played in the gallery when interviews weren’t taking place, sharing the experiences of the work for the 14 members of the Advisory Group.

      The 100 women came together for a celebratory dinner in March 2022 to honor their commitment and to thank them for sharing their stories, their intellect, and their positive energy. This was a key networking opportunity and a chance to share and develop agency about issues affecting women over 50 and work.


      ![Installation 1](/assets/img/16.jpg "Photo of Installation 1. Credit: Michael Booth")
  - type: text-block
    text: >-
      # **Installation 2: The Process**


      **Manchester Art Gallery, September 2022 - March 2023**


      In the second iteration of the exhibition, we reveal the development of the *Uncertain Futures* and initial research findings. The project continues as interviews are analyzed by our research team. This website has been created to merge the lived work experiences of women over 50 in Manchester with legal and social policymaking and age discrimination case law. *Uncertain Futures* combines art, research, and activism and aims to create real social change and affect social policy.


      [](https://video.manchester.ac.uk/faculties/dcfc56d26eb49a4a9b05f8883bae189f/cadbe521-b878-48f3-b19b-0a13d1c56928/)


      ![100 Women Dinner: Installation 2](/assets/img/5.jpg "Installation 2: 100 Women Dinner. Credit: Andrew Brooks")
  - type: text-block
    text: >-
      # **Installation 3: Stories of Women, Work and Uncertain Futures**


      ###### March 7, 2024- January 5, 2025


      Stories of Women, Work and Uncertain Futures is the third, and concluding, exhibition of Uncertain Futures, an immense collaborative work combining art, research and activism that spans five years. It explores paid and unpaid work by women over 50, focusing on gender, age, race, disability, class and migration. Created by women from Manchester’s diverse communities with the US artist Suzanne Lacy, a pioneer of social practice art and community organising, it aims to create civic change and affect social policy.A new three channel film highlights the multiple inequalities around work faced by women as they age. Excerpts from 100 interviews undertaken in 2021 are narrated within a theatrical space by a core group of project leaders. The layered voices and accounts verify the universality of these experiences. The film will be shown alongside a project manifesto calling for change, a photograph of the 100 women interviewed and a documentary which outlines the research findings.
  - type: text-block
    text: >-
      # **Assets** 


      **Sound piece:** 


      Soup Collective: Mark Thomas sound/text track (From Installation 1)


      [Click here to view this](https://video.manchester.ac.uk/faculties/dcfc56d26eb49a4a9b05f8883bae189f/372697d9-b1ca-4e72-a0d5-5be55e121a75/).


      **Dinner Film**


      Mark Thomas - 100 Women Dinner (From Installation 2)


      [Click here to view this.](https://video.manchester.ac.uk/faculties/dcfc56d26eb49a4a9b05f8883bae189f/cadbe521-b878-48f3-b19b-0a13d1c56928/)


      **Her Uncertain Futures** 


      (From Installation 3)


      Forthcoming...[](https://video.manchester.ac.uk/faculties/dcfc56d26eb49a4a9b05f8883bae189f/cadbe521-b878-48f3-b19b-0a13d1c56928/)
---
<div class="header-mobile header-team d-flex pt-4 pb-2">
    <div class="d-flex justify-content-between align-items-start top-header"><a href="{{ site.baseurl }}/"><h1 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h1></a><button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button></div>
    </div>
    <div class="justify-content-center flex-column navbar">
        <p><a href="{{ site.baseurl }}/#about">About</a></p>
        <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
        <p><a href="{{ site.baseurl }}/research-themes">Research Themes</u></a></p>
        <p><a href="{{ site.baseurl }}/aesthetic-productions"><u class="yellow-underline">Aesthetic Productions</u></a></p>
        <p><a href="{{ site.baseurl }}/team">Team</a></p>
        <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
    </div>
    
    
    <div class="header header-team d-flex justify-content-between  align-items-center pt-4">
        <a href="{{ site.baseurl }}/"><h4 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h4></a>
        <div class="d-flex w-50 justify-content-between px-4 menu-items">
            <p><a href="{{ site.baseurl }}/#about">About</a></p>
            <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
            <p><a href="{{ site.baseurl }}/research-themes">Research Themes</u></a></p>
            <p><a href="{{ site.baseurl }}/aesthetic-productions"><u class="yellow-underline">Aesthetic Productions</u></a></p>
            <p><a href="{{ site.baseurl }}/team">Team</a></p>
            <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
        </div>
    </div>
    

    <div class="text-container team-container">
            <h1 class="bold mb-5">Aesthetic<br>Productions</h1>
            {% for block in page.page_blocks %}
                {% if block.type == 'text-block' %}
                <div class="team-text mb-5">{{block.text | markdownify }}</div>
                {% elsif block.type == 'video-upload' %}
                <div class="team-text mb-5">
                    <iframe style="aspect-ratio: 16 / 9; width: 100%;" src="https://www.youtube.com/embed/svnTPLZCGL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {% endif %}
            {% endfor %}
    </div>
