---
layout: default
about_the_project: '<p>Uncertain Futures is an unique art and research collaborative
  work which aims to highlight and analyse the intersectional inequalities facing
  women over 50 around work. This includes inequalities relating to gender, age, race,
  disability, migration status and others statuses. The project was initially developed
  by artist <a href="https://www.suzannelacy.com/">Suzanne Lacy</a> with an Advisory
  Group formed of women over 50 from Manchester’s diverse communities in association
  with Manchester Art Gallery and Manchester City Council’s Work and Skills Team.
  It is supported by a research team from the University of Manchester and Manchester
  Metropolitan University. The title is taken from the research consortium <em>Uncertain
  Futures: Managing late-career transitions and extended working life</em> led by
  Professor Sarah Vickerstaff. Click here to learn more about Phase 1 and Phase 2
  of the project.</p>'
impact_tracker: "<p>This timeline demonstrates how the project has unfolded and the
  achievements of the project to date. Please feel free to explore the links provided
  and enjoy some of our work. <br><strong>Scroll horizontally to explore.</strong></p>"
slideshow:
- assets/img/slideshow-1.jpg
- assets/img/slideshow-2.jpg
- assets/img/slideshow-3.jpg
- assets/img/slideshow-4.jpg
image_1: assets/img/index-1.jpg
image_2: assets/img/index-2.jpg
years:
- year: "2019"
  months:
  - month: 'September - December '
    events:
    - event: "<p>Ten focus groups held across city wards yield questions and information.</p>"
      top_or_bottom: false
  - month: June
    events:
    - event: <p>Developing exhibition concept as a site for research. <a href="https://www.mmu.ac.uk/research/research-centres/hpac/staff/profile/dr-sarah-campbell"
        title="">Dr. Sarah Campbell</a> from Manchester Metropolitan University (MMU)
        joins team as researcher</p>
      top_or_bottom: false
  - month: March
    events:
    - event: "<p>Begin consultation with Manchester ageing and community organisations
        to discover work inequalities.</p>"
      top_or_bottom: false
  - month: 'January '
    events:
    - event: <p>Artist <a href="" title="">Suzanne Lacy</a> invited by gallery Director
        Alistair Hudson to reactivate earlier work about ageing. Lacy and Ruth Edson
        start to conceive a new project.</p>
      top_or_bottom: false
- month:
  - month: Nov
    events:
    - event: "<p>Uncertain Futures Launch: November 2020 at the ESRC Festival of Social
        Science Event: Uncertain Futures.<br>Watch it here.</p>"
  - month: Aug
    events:
    - event: "<p>Submission made to the UN High Commissioner for Human Rights Special
        Rapporteur on Older People and Human Rights</p>"
  - month: Jun
    events:
    - event: "<p>Advisory Group<br>develop Matrix</p>"
  - month: Mar
    events:
    - event: "<p>Advisory group begins<br>development and<br>monthly meetings</p>"
  - month: Feb
    events:
    - event: "<p>Uncertain Futures<br>Begins</p>"
  year: "2020"
  months:
  - month: 'January '
    events:
    - event: <p><a href="https://www.research.manchester.ac.uk/portal/elaine.dewhurst.html"
        title="">Dr. Elaine Dewhurst</a> from University of Manchester joins team
        as co-researcher</p>
      top_or_bottom: false
  - month: March
    events:
    - event: "<p>Uncertain Futures exhibition launch postponed due to COVID-19. Advisory
        group begins development and monthly meetings. Zoom conversations on impact
        of COVID and how to combine activism and research in a participatory artwork
        continue until August 2020. </p>"
      top_or_bottom: true
  - month: 'May '
    events:
    - event: "<p>Begin recruitment for Advisory Group. This is completed in August
        2020. </p>"
      top_or_bottom: false
  - month: Jun
    events:
    - event: "<p>Advisory Group develop Matrix</p>"
      top_or_bottom: false
  - month: September
    events:
    - event: "<p>Advisory Group formed, meets weekly</p>"
      top_or_bottom: false
  - month: Nov
    events:
    - event: "<p>Video: <em>As a woman over 50, here’s what I know</em> produced by
        MMU students. First public presentation at Economic and Social Research Council’s
        2020 Festival of Social Sciences: Uncertain Futures Launch.</p>"
      top_or_bottom: false
- year: "2021"
  months:
  - month: 'January '
    events:
    - event: "<p>From January - June the Advisory Group meets weekly to: </p><p>•Design
        an art installation as an interview booth </p><p>•Recruit a highly diverse
        group of 100 women to interview </p><p>•Formulate research questions and pilot
        with advisory group </p><p>•Create soundtrack for the installation </p><p>•Plan
        employment support sessions</p>"
      top_or_bottom: false
  - month: April
    events:
    - event: <p>Submission made to the UN High Commissioner for Human Rights Special
        Rapporteur on Older People and Human Rights. View it <a href="https://www.ohchr.org/sites/default/files/Documents/Issues/OlderPersons/AgeismAgeDiscrimination/Submissions/Academics/University-of-Manchester.pdf">here</a>.</p>
      top_or_bottom: false
  - month: June
    events:
    - event: "<p>Uncertain Futures exhibition opens at the gallery. Advisory Group
        meets in person for the first time for a lunch with Councillors.</p><p>Between
        June and September, researchers record 100 private interviews within the installation.</p>"
      top_or_bottom: true
  - month: September
    events:
    - event: "<p>Between September 2021 and April 2022, the Advisory Group hosts informal
        Chai and Chat sessions on work experiences and Manchester City Council Work
        and Skills Team provide seven monthly Support Employment sessions. A press
        campaign is launched including billboards across the city which runs until
        December 2021. </p>"
      top_or_bottom: false
    - event: Advisory Group organise and conduct an an insightful conversation with
        Dr. Helima Begum CEO of the Runneymeade Trust
      top_or_bottom: true
    - event: <p>Advisory Group women Radio Africana podcast.<br><a href="https://radioafricana.com/podcasts/program/Carisma"
        title="">Listen to it here.</a></p>
      top_or_bottom: false
  - month: 'October '
    events:
    - event: "<p>Employment Support Seminar: Looking for Work (with Manchester City
        Council Work and Skills Team)</p>"
      top_or_bottom: false
  - month: November
    events:
    - event: "<p>Research Team share emerging findings at Economic and Social Research
        Council’s 2021 Festival of Social Sciences. Uncertain Futures joins one of
        four projects for Lacy’s <em>What Kind of City?</em> event series at the Whitworth</p>"
      top_or_bottom: false
    - event: "<p>Employment Support Seminar: Changing Careers (with Manchester City
        Council Work and Skills Team)</p>"
      top_or_bottom: false
    - event: <p>Suzanne Lacy live interview on BBC Radio 4 Front Row. You can listen
        <a href="https://www.bbc.co.uk/programmes/m0011ryg" title="Recording ">here</a>.</p>
      top_or_bottom: false
    - event: "<p>ESRC Festival of Social Science Event 2021: Uncertain Futures Working
        with Women to Create Change. Listen to the recording here.</p>"
      top_or_bottom: true
  - month: 'December '
    events:
    - event: "<p>Employment Support Seminar: confident language at work (with Manchester
        City Council Work and Skills Team)</p>"
      top_or_bottom: false
- year: "2022"
  months:
  - month: 'January '
    events:
    - event: <p>Added to the UN Decade of Healthy Ageing Platform as an innovative
        research project! Read all about it here! <a href="https://www.decadeofhealthyageing.org/find-knowledge/innovation/research-projects"
        title="https://www.decadeofhealthyageing.org/find-knowledge/innovation/research-projects">https://www.decadeofhealthyageing.org/find-knowledge/innovation/research-projects</a></p>
      top_or_bottom: false
  - month: 'February '
    events:
    - event: "<p>MICRA Seminar: The Voluntary Contribution of Women over 50 in Manchester:
        Unpaid, Undervalued and unrecognised (Feb 3 @ 11am) with Research team <br></p>"
      top_or_bottom: false
    - event: "<p>Confident Language at Work (Wed 16th Feb 11am-1pm) @ Manchester Art
        Gallery: Employment Support Workshop</p>"
      top_or_bottom: false
  - month: March
    events:
    - event: "<p>Emerging themes from interviews presented at Ageing and Intersectionality
        seminar at the gallery with academic expert Professor Sarah Vickerstaff. Research
        Team submit evidence report to The Second State Pension Age Review. </p><p>100
        women interviewees celebrated with a dinner at the gallery. </p><p>Research
        Team present at two events: </p><p>•Manchester Institute for Collaborative
        Research on Ageing (MICRA) on ageing and volunteering </p><p>•The Department
        of Work and Pensions Areas of Research seminar </p>"
      top_or_bottom: false
    - event: "<p>Menopause and work (Wed 23 March 11am-1pm) @ Manchester Art Gallery:
        Employment Support Workshop with Advisory Group Member Patricia Williams </p>"
      top_or_bottom: false
  - month: 'June '
    events:
    - event: "<p>Members of the research team participate in the Manchester Urban
        Ageing Research Group: Conversations on Urban Ageing and Structural Racism</p>"
      top_or_bottom: false
  - month: July
    events:
    - event: "<p>In-depth thematic analysis of the 100 interviews begins by Research
        Team with two analysis days held in the Gallery. </p>"
      top_or_bottom: false
  - month: 'August '
    events:
    - event: "<p>Uncertain Futures accepted for a paper for The Gerontologist Journal
        of Ageing Research. </p>"
      top_or_bottom: false
  - month: 'September '
    events:
    - event: "<p>Second iteration of gallery installation opens</p>"
      top_or_bottom: false

---
<div class="header-mobile d-flex pt-4 pb-2">
    <div class="d-flex justify-content-between align-items-start top-header"><a href="{{ site.baseurl }}/"><h1 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h1></a><button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button></div>
</div>
    <div class="justify-content-center flex-column navbar">
        <p><a href="#about">About</a></p>
        <p><a href="{{ site.baseurl }}/team">Team</a></p>
        <p><a href="#impact">Impact</a></p>
        <p><a href="#contact">Contact</a></p>
    </div>




<div class="header d-flex justify-content-between  align-items-center pt-4 pb-2">
    <h1 class="header-title title-desktop"><b>Uncertain Futures</b><br>+100 Women</h1>
    <div class="d-flex w-50 justify-content-between px-4">
        <p><a href="#about">About</a></p>
        <p><a href="{{ site.baseurl }}/team">Team</a></p>
        <p><a href="#impact">Impact</a></p>
        <p><a href="#contact">Contact</a></p>
    </div>
</div>



<div class="hero-section">
    <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for item in page.slideshow limit: 1%}
        <div class="carousel-item active">
            <img src="{{ site.baseurl }}/{{ item }}" class="d-block w-100 h-100 carousel-img" alt="Advisory Group Portrait">
        </div>
        {% endfor %}
        {% for item in page.slideshow offset: 1 %}
        <div class="carousel-item">
            <img src="{{ site.baseurl }}/{{ item }}" class="d-block w-100 h-100 carousel-img" alt="Advisory Group Portrait">
        </div>
        {% endfor %}
    </div>
    </div>
    
    <h3 class="subtitle py-4">Understanding inequalities around work for women over 50 in Manchester</h3>
</div>
<a id="about"></a>
<div class="text-container">
    <h1 class="bold">About<br>the Project</h1>
    <div class='information-text'>{{ page.about_the_project }}</div>
    <div class="d-flex justify-content-between information-text mt-5 meet-btn"><div><b>Want to know more?</b></div><div class="line-button"><b><a href="{{ site.baseurl }}/team">Meet the Team</a></b></div></div>
</div>

<img src="{{ site.baseurl }}/{{ page.image_1 }}" alt="Advisory Group" class="separator-img mt-2">

<a id="impact"></a>
<div class="text-container">
    <h1 class="bold">Impact<br>Tracker</h1>
    <div class='information-text'>{{ page.impact_tracker }}</div>
</div>
<div class="timeline">
    <div class="middle-line"></div>
    <div class="d-flex align-items-center">
        {% for y in page.years reversed %}
            <div class="year">{{ y.year }}</div>
            {% for m in y.months reversed %}
            <div class="month">{{ m.month }}</div>
                {% for e in m.events reversed %}
                    {% if e.top_or_bottom == true %}
                    <div class="event">
                        <div class="d-flex flex-column-reverse event-flex">
                            <div class="event-text">{{ e.event }}</div>
                            <div class="line"></div>
                            <div class="dot"></div>
                            <div class="line invisible"></div>
                            <div class="event-text invisible">{{ e.event }}</div>
                        </div>
                    </div>
                    {% elsif e.top_or_bottom == false %}
                    <div class="event">
                        <div class="d-flex flex-column-reverse event-flex">
                            <div class="event-text invisible">{{ e.event }}</div>
                            <div class="line invisible"></div>
                            <div class="dot"></div>
                            <div class="line"></div>
                            <div class="event-text">{{ e.event }}</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% comment %}
<div class="timeline-arrow">
    <img src="{{site.baseurl}}/assets/img/arrow.svg" alt="">
</div>
{% endcomment %}

<img src="{{ site.baseurl }}/{{ page.image_2 }}" alt="Advisory Group" class="separator-img mt-2">


<a id="contact"></a>
<div class="text-container">
    <h1 class="bold">Contact Us</h1>
    <div class='information-text mb-5'>Do you have any questions, suggestions or want to get involved?
        <br>We’d love to hear from you!</div>
    <form action="https://getform.io/f/e3cc0143-b752-4210-8f03-a636ae04e848" method="POST" class="information-text">
        <div class="d-flex justify-content-between">
            <input type="name" name="name" placeholder="Name" class="w-100 me-2">
            <input type="email" name="email" placeholder="Email" class="w-100"> 
        </div>
        <input type="subject" name="subject" placeholder="Subject" class="w-100">
        <textarea name="message" placeholder="Write your message here..." class="w-100"></textarea>
    <!-- your other form fields go here -->
    <button type="submit">Send</button>
    </form>
</div>

<footer class="mt-5">
    <div class="d-flex justify-content-between py-5 footer-flex">
        <div>
            <h4 class="bold">Want to keep<br>up to date?</h4>
            <p>Sign up with your email address<br>to receive news and updates.</p>
            <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7_dtp.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{clear:left; padding: 0; display: flex; }
                    #mc_embed_signup input {color: white !important; border: solid 2px white; margin-right: 0.5vw;}
                    #mc_embed_signup ::placeholder {color: white !important;}
                    #mc_embed_signup_scroll {display: flex;}
                    #mc_embed_signup form { padding: 0;}
        
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://uncertainfutures.us20.list-manage.com/subscribe/post?u=79c5a2ca7ed5a98f716f33ad5&amp;id=a3fa28b765" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_79c5a2ca7ed5a98f716f33ad5_a3fa28b765" tabindex="-1" value=""></div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
        </div>
        <div class="exhibition-info">
            <h4 class="bold">Visit the Uncertain<br>Futures Exhibition</h4>
            <p>Thursday 24 June 2021<br>
                –—<br>
                Sunday 1 May 2022<br>
                <b>Manchester Art Gallery</b><br>
                <a href="https://manchesterartgallery.org/exhibitions-and-events/exhibition/suzanne-lacy-uncertain-futures/" target="_blank" class="footer-a"><u>Find out more here.</u></a></p>
        </div>
        <div class="d-flex logos-flex">
            <img src="{{ site.baseurl }}/assets/img/manchesterartgallery.png" alt="Manchester Art Gallery Logo" class="logo">
            <img src="{{ site.baseurl }}/assets/img/universitymanchester.png" alt="University of Manchester Logo" class="logo">
            <img src="{{ site.baseurl }}/assets/img/manchestermetropolitan.svg" alt="Manchester Metropolitan Logo" class="logo">
        </div>
    </div>
</footer>
<script>
const mediaQuery = window.matchMedia('(min-width: 600px)')
window.addEventListener('scroll', () => {

if (mediaQuery.matches) {

        if (document.body.scrollTop > 350 || document.documentElement.scrollTop > 350) {
            document.querySelector(".title-desktop").style.fontSize = "1.5rem";
            document.querySelector(".title-desktop").style.lineHeight = "1.2";
            document.querySelector(".header").style.backgroundColor = "#7BAAA2";
            console.log("test");
        } else {
            document.querySelector(".title-desktop").style.fontSize = "2.5rem";
            document.querySelector(".header").style.backgroundColor = "transparent";
        }

} else {

        if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
            document.querySelector(".header-mobile").style.backgroundColor = "#7BAAA2";
        } else {
            document.querySelector(".header-mobile").style.backgroundColor = "transparent";
        }
}
});
</script>