---
layout: default
research_team_fields:
- title: About the Team and Manchester Art Gallery
  description: "<p>The team is made up of and Advisory Group of women, all activists
    and leaders in their communities, researchers from the University of Manchester
    and Manchester Metropolitan University, and leaders from Manchester Art Gallery.
    The team is sponsored through support and funding through different organisations.
    You can find out more below.</p><p>Manchester Art Gallery is the original useful
    museum, initiated in 1823 by artists, as an educational institution to ensure
    that the city and all its people grow with creativity, imagination, health and
    productivity. The gallery is free and open to all people as a place of civic thinking
    and public imagination. It promotes art as a means to achieve social change with
    its origins from the Royal Manchester Institution for the Promotion of Literature,
    Science and the Arts. It has been at the centre of city life for nearly 200 years
    and has been proudly part of Manchester City Council since 1882. The gallery is
    for and of the people of Manchester. Through its collections, displays and public
    programmes it works with all our constituents to ensure creativity, care and consideration
    infect all aspects of the way we live. This is an art school for everybody and
    for life.</p>"
the_advisory_group:
- name: Louise Wong
  description: <p><a href="https://www.waiyin.org.uk/" title="">Wai Yin Society</a></p>
  portrait: assets/img/uncertain-futures-mac0044.jpg
- name: Patricia Williams
  description: "<p>Manchester resident</p>"
  portrait: assets/img/uncertain-futures-mac0148.jpg
- name: Circle Steele
  description: <p><a href="https://www.waiyin.org.uk/" title="">Wai Yin Society</a></p>
  portrait: assets/img/uncertain-futures-mac0064.jpg
- name: Nadia Siddiqui
  description: <p><a href="https://womensvoices.org.uk/" title="">Women’s Voices</a></p>
  portrait: assets/img/uncertain-futures-mac0174.jpg
- name: Elayne Redford
  description: <p><a href="https://www.manchester.gov.uk/info/100008/work_jobs_training_and_advice"
    title="">Work and Skills Manchester City Council</a></p>
  portrait: assets/img/uncertain-futures-mac0075.jpg
- name: Tendayi Madzunzu
  description: <p><a href="http://www.ziwo.org.uk/" title="">ZIWO <br>(Zimbabwe Women's
    Organisation)</a></p>
  portrait: assets/img/uncertain-futures-mac0102.jpg
- name: Jila Mozoun
  description: <p><a href="" title="">Raha – Women’s Voices</a></p>
  portrait: assets/img/uncertain-futures-mac0020.jpg
- name: Teodora Ilieva
  description: "<p>Manchester resident</p>"
  portrait: assets/img/teodora-3.png
- name: Marie Greenhalgh
  description: <p><a href="https://wythenshawegoodneighbours.com/" title="">Wythenshawe
    Good Neighbours</a></p>
  portrait: assets/img/uncertain-futures-mac0178.jpg
- name: Rohina Ghafoor
  description: <p><a href="http://www.manchesterbmenetwork.co.uk/" title="">MBMEN
    <br>(Manchester Black Minority Ethnic Network)</a></p>
  portrait: assets/img/uncertain-futures-mac0031.jpg
- name: Atiha Chaudry
  description: <p><a href="" title="">GMBAMEN<br>(Greater Manchester Black Asian Minority
    Ethnic Network)</a></p>
  portrait: assets/img/uncertain-futures-mac0090.jpg
- name: Sally Casey
  description: <p><a href="" title="">Aquarius Tenants and Residents Association</a></p>
  portrait: assets/img/uncertain-futures-mac0002.jpg
- name: Erinma Bell
  description: <p><a href="https://www.linkedin.com/company/carisma-services-ltd/">CARISMA
    Services Ltd</a>.</p>
  portrait: assets/img/uncertain-futures-mac0129.jpg
- name: Akhter Azabany
  description: "<p>Manchester resident</p>"
  portrait: assets/img/uncertain-futures-mac0133.jpg
team_profiles:
- name: Dr. Sarah Campbell
  title: Senior Lecturer
  institution: Manchester Metropolitan University
  information: " Sarah Campbell is a Senior Lecturer at Manchester Metropolitan University
    within Integrated Health and Social Care. Her research interests are in ageing,
    dementia, gender and social inequalities. She works with participatory qualitative
    and creative methods, with a particular interest in creative dissemination and
    links between art and research practice."
  image: ''
  link: 'https://www.mmu.ac.uk/hpsc/our-staff/browse/department-of-social-care-and-social-work/profile/index.php?id=4705 '
- name: Dr. Suzanne Lacy
  title: Artist
  institution: ''
  information: |-
    Suzanne Lacy is renowned as a pioneer in socially engaged and public performance art. Her installations, videos, and performances deal with sexual violence, rural and urban poverty, incarceration, labor and aging. Lacy’s large-scale projects span the globe, including England, Colombia, Ecuador, Spain, Ireland and the U.S. 
    In 2019 she had a career retrospective at the San Francisco Museum of Modern Art and at Yerba Buena Art Center. Her work has been reviewed in major periodicals and books and she exhibits in museums across the world. Also known for her writing, Lacy edited Mapping the Terrain: New Genre Public Art and authored  Leaving Art: Writings on Performance, Politics, and Publics, 1974-2007. She is a professor at the Roski School of Art and Design at the University of Southern California and a resident artist at 18th Street Arts Center
  image: assets/img/Suzanne.jpg
  link: 'https://www.suzannelacy.com/about '
- name: Dr. Elaine Dewhurst
  title: Senior Lecturer
  institution: University of Manchester
  information: 'University of Manchester. Elaine is a Senior Lecturer in Law and an
    expert in equality law. She has a particular research interest in age discrimination
    law and in the challenges faced by older workers in the labour market. She has
    worked on a number of projects related to ageing research and is the Senior Ground
    Expert on Age for the European Equality Law Network. She authored the European
    Commission report on Age Discrimination outside the Labour Market in 2020. '
  image: assets/img/elaine.jpg
  link: 'https://www.research.manchester.ac.uk/portal/elaine.dewhurst.html  '
- name: Ruth Edson
  title: Lead Project Manager
  institution: Manchester Art Gallery
  information: 'Ruth Edson is the lead project manager for ‘Uncertain Futures’ at
    Manchester Art Gallery. Over the past 18 months has been working extensively with
    American artist Suzanne Lacy, Dr Sarah Campbell, Dr Elaine Dewhurst and Manchester
    groups and residents on a new collaborative artwork entitled ‘Uncertain Futures’
    developing new data and knowledge around lived experience of women, work and ageing.
    Ruth has over 20 years experience of managing creative programmes and projects
    within gallery and museums, local authority settings and in a freelance capacity.
    She is the Learning Manager: Communities at Manchester Art Gallery and has a particular
    expertise and passion for co-producing exhibitions and programmes with communities
    and artists, which respond to current societal urgencies. Ruth has worked with
    a broad range of audiences but has particularly developed extensive programmes
    with and for older adults where people actively programme and lead events. She
    was one of the founding members of the city’s Age Friendly Cultural working group,
    going from 3 members to over 40 representing organisations throughout Greater
    Manchester and in 2010 established the Age Friendly Cultural Champions programme.'
  image: ''
  link: ''
- name: Participatory Research Team
  title: 'Members of the Advisory Group namely, Atiha Chaudry, Rohina Ghafoor, Marie
    Greenhalgh and Tendayi Madzunzu. '
  institution: ''
  information: ''
  image: ''
  link: ''
- name: 'Research Assistants '
  title: The project has also been assisted by a number of fantastic Research Assistants
    including Tanya Elahi, Lila Nicholson, Amanda Wang, Jess Wild, Dr. Robyn Dowlen
    at Yellow Lens Research
  institution: ''
  information: ''
  image: ''
  link: ''
- title: 'Arts Council England, Art Fund / Evan Cornish Foundation / MICRA—Manchester
    Institute for Collaborative Research on Ageing / Economic and Social Research
    Council, Festival of Social Science '
  institution: ''
  information: "https://www.artscouncil.org.uk/ \nhttps://www.evancornishfoundation.org.uk/\nhttps://www.micra.manchester.ac.uk/\nhttps://www.ukri.org/what-we-offer/public-engagement/public-engagement-esrc/festival-of-social-science/\n"
  image: ''
  link: ''
  name: 'Sponsors '
- name: 'Website Design / Graphic Design and Photography '
  title: ''
  institution: ''
  information: "Website design and development: Maria Nery (https://www.linkedin.com/in/maria-nery-a0347a183/?originalSubdomain=uk)\n\nGraphic
    Design: Alice Fraser at Office Of Craig\n\nPhotograph credits to:  Advisory Group
    Zoom (Ahmarni Vidal-Simon) / 100 women (Andrew Brooks) / Interview in progress
    / Booth Photo (Michael Pollard) / All other photos are credited to Audrey Albert. "
  image: ''
  link: ''
- title: ''
  institution: ''
  information: |-
    Soup Collective: Mark Thomas with Alina Akbar,
    Finn Browning, Maretha Ilves and Megan Laurel White
  image: ''
  link: ''
  name: 'Video and Sound Installation '
- name: Gallery Team
  title: ''
  institution: ''
  information: |-
    Communities Learning Manager Ruth Edson,
    Senior Curator Natasha Howes, AV Technician
    Shamus Dawes, Curator Clare Gannaway
  image: ''
  link: ''

---
<img src="assets/img/stroke-bg-3.png"><img src="assets/img/stroke-bg-1.png"><img src="assets/img/color-bg-1.jpg"><div class="header-mobile header-team d-flex pt-4 pb-2">
<div class="d-flex justify-content-between align-items-start top-header"><a href="{{ site.baseurl }}/"><h1 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h1></a><button class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button></div>
</div>
<div class="justify-content-center flex-column navbar">
    <p><a href="{{ site.baseurl }}/#about">About</a></p>
    <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
    <p><a href="{{ site.baseurl }}/research-themes">Research Themes</a></p>
    <p><a href="{{ site.baseurl }}/team"><u class="yellow-underline">Team</u></a></p>
    <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
</div>


<div class="header header-team d-flex justify-content-between  align-items-center pt-4">
  <a href="{{ site.baseurl }}/"><h4 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h4></a>
  <div class="d-flex w-50 justify-content-between px-4 menu-items">
    <p><a href="{{ site.baseurl }}/#about">About</a></p>
    <p><a href="{{ site.baseurl }}/#impact">Timeline</a></p>
    <p><a href="{{ site.baseurl }}/research-themes">Research Themes</a></p>
    <p><a href="{{ site.baseurl }}/team"><u class="yellow-underline">Team</u></a></p>
    <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
  </div>
</div>

<div class="text-container team-container">
  <h1 class="bold mb-5">Participatory<br>Research Team</h1>
  {% for item in page.research_team_fields reversed %}
  <h3 class="team-text yellow-underline mb-3"><b>{{ item.title }}</b></h3>
  <div class="team-text mb-5">{{ item.description }}</div>
  {% endfor %}

  <h3 class="team-text yellow-underline mb-3"><b>The Advisory Group</b></h3>
  <div class="group-grid team-text mb-5">
    {% for item in page.the_advisory_group reversed %}
    <div class="group-item">
      <img src="{{site.baseurl}}/{{item.portrait}}" class="grid-img">
      <div><b>{{ item.name }}</b></div>
      <div class="item-description">{{ item.description }}</div>
    </div>
    {% endfor %}
  </div>
  <div class="team-text">
    <h3 class="mb-3"><b>Research Team</b></h3>
    <div class="border-yellow"></div>
    {% for item in page.team_profiles %}
    <div class="team-grid mt-3 profile-text">
      <p>{{ item.name }}</p>
      {% if item.institution != '' %}
      <p>{{ item.title }}</p>
      <p class="text-end">{{ item.institution }}</p>
      {% else %}
      <p class="span-2">{{ item.title }}</p>
      {% endif %}
    </div>
    <div class="border-yellow"></div>
   {% endfor %}
  </div>
</div>