---
layout: default
research_team_fields:
- title: About the team
  description: "<p>Developed with academics from the University of Manchester: School
    of Social Sciences, Department of Law and Manchester Metropolitan University:
    Department of Social Care and Social Work, Uncertain Futures is an art and research
    project where the women, all activists and leaders in their communities, have
    formed an Advisory Group, met weekly over the past 15 months, and stayed connected
    despite Covid. Working collectively to advocate for policy change, they have identified
    and made public the issues confronting older women and work, particularly in the
    context of the COVID-19 pandemic. <br> <br>The Advisory Group and their partners
    have co-designed a unique programme of art, research and advocacy that naturally
    follows the three pillars of age-friendliness: connectivity, giving a platform
    and a voice to the issues raised, and celebrating age. Uncertain Futures has shown
    the group that the issues that affect women over 50 are what connect them; ageing
    is a shared experience, whatever their background, heritage and culture, and they
    are their own best advocates for change.</p>"
- description: "<p>Manchester Art Gallery is the original useful museum, initiated
    in 1823 by artists, as an educational institution to ensure that the city and
    all its people grow with creativity, imagination, health and productivity. The
    gallery is free and open to all people as a place of civic thinking and public
    imagination. It promotes art as a means to achieve social change with its origins
    from the Royal Manchester Institution for the Promotion of Literature, Science
    and the Arts. It has been at the centre of city life for nearly 200 years and
    has been proudly part of Manchester City Council since 1882. The gallery is for
    and of the people of Manchester. Through its collections, displays and public
    programmes it works with all our constituents to ensure creativity, care and consideration
    infect all aspects of the way we live. This is an art school for everybody and
    for life. <br><br><em>“This has been the most wonderful project to witness, evolving
    into something with true power and emotion, that has the potential to effect so
    many lives in the city. The Gallery has a long history as a city centre institution
    that has given a platform to support the rights of women. Suzanne Lacy has done
    what she does best – to listen and use art to create the space and time to give
    people a voice. Uncertain Futures clearly shows this: the convening role our museums
    can have for the people of Manchester.”</em><br><strong>Alistair Hudson</strong>,
    Director of Manchester Art Gallery<br></p>"
  title: Manchester Art Gallery
the_advisory_group:
- name: Louise Wong
  description: Wai Yin Society
- name: Patricia Williams
  description: Manchester resident
- name: Circle Steele
  description: Wai Yin Society
- name: Nadia Siddiqui
  description: Women’s Voices
- name: Elayne Redford
  description: Work and Skills Manchester City Council
- name: Jila Mozoun
  description: Raha – Women’s Voices
- name: Tendayi Madzunzu
  description: ZIWO <br>(Zimbabwe Women's Organisation)
- name: Teodora Ilieva
  description: Manchester resident
- name: Marie Greenhalgh
  description: Wythenshawe Good Neighbours
- name: Rohina Ghafoor
  description: MBMEN <br>(Manchester Black Minority Ethnic Network)
- name: Atiha Chaudry
  description: GMBAMEN<br>(Greater Manchester Black Asian Minority Ethnic Network)
- name: Sally Casey
  description: Aquarius Tenants and Residents Association
- name: Erinma Bell
  description: CARISMA Services
- name: Akhter Azabany
  description: Manchester resident
team_profiles:
- name: Tendayi Madzunzu
  title: researcher
  institution: ''
  information: ''
  image: ''
  link: ''
- name: Rohina Ghafoor
  title: Researcher
  institution: ''
  information: ''
  image: ''
  link: ''
- name: Lila Nicholson
  title: Research Assistant
  institution: ''
  information: ''
  image: ''
  link: ''
- name: Tanya Elahi
  title: Research Assistant
  institution: ''
  information: ''
  image: ''
  link: ''
- name: Dr. Suzanne Lacy
  title: Artist
  institution: ''
  information: |-
    uzanne Lacy is renowned as a pioneer in socially engaged and public performance art. Her installations, videos, and performances deal with sexual violence, rural and urban poverty, incarceration, labor and aging. Lacy’s large-scale projects span the globe, including England, Colombia, Ecuador, Spain, Ireland and the U.S. 
    In 2019 she had a career retrospective at the San Francisco Museum of Modern Art and at Yerba Buena Art Center. Her work has been reviewed in major periodicals and books and she exhibits in museums across the world. Also known for her writing, Lacy edited Mapping the Terrain: New Genre Public Art and authored  Leaving Art: Writings on Performance, Politics, and Publics, 1974-2007. She is a professor at the Roski School of Art and Design at the University of Southern California and a resident artist at 18th Street Arts Center
  image: assets/img/Suzanne.jpg
  link: 'https://www.suzannelacy.com/about '
- name: Ms. Ruth Edson
  title: Lead Project Manager
  institution: Manchester Art Gallery
  information: 'Ruth Edson is the lead project manager for ‘Uncertain Futures’ at
    Manchester Art Gallery. Over the past 18 months has been working extensively with
    American artist Suzanne Lacy, Dr Sarah Campbell, Dr Elaine Dewhurst and Manchester
    groups and residents on a new collaborative artwork entitled ‘Uncertain Futures’
    developing new data and knowledge around lived experience of women, work and ageing.
    Ruth has over 20 years experience of managing creative programmes and projects
    within gallery and museums, local authority settings and in a freelance capacity.
    She is the Learning Manager: Communities at Manchester Art Gallery and has a particular
    expertise and passion for co-producing exhibitions and programmes with communities
    and artists, which respond to current societal urgencies. Ruth has worked with
    a broad range of audiences but has particularly developed extensive programmes
    with and for older adults where people actively programme and lead events. She
    was one of the founding members of the city’s Age Friendly Cultural working group,
    going from 3 members to over 40 representing organisations throughout Greater
    Manchester and in 2010 established the Age Friendly Cultural Champions programme.'
  image: ''
  link: ''
- name: Dr. Sarah Campbell
  title: Senior Lecturer
  institution: Manchester Metropolitan University
  information: " Sarah Campbell is a Senior Lecturer at Manchester Metropolitan University
    within Integrated Health and Social Care. Her research interests are in ageing,
    dementia, gender and social inequalities. She works with participatory qualitative
    and creative methods, with a particular interest in creative dissemination and
    links between art and research practice."
  image: ''
  link: 'https://www.mmu.ac.uk/hpsc/our-staff/browse/department-of-social-care-and-social-work/profile/index.php?id=4705 '
- name: Dr. Elaine Dewhurst
  title: Senior Lecturer
  institution: University of Manchester
  information: 'University of Manchester. Elaine is a Senior Lecturer in Law and an
    expert in equality law. She has a particular research interest in age discrimination
    law and in the challenges faced by older workers in the labour market. She has
    worked on a number of projects related to ageing research and is the Senior Ground
    Expert on Age for the European Equality Law Network. She authored the European
    Commission report on Age Discrimination outside the Labour Market in 2020. '
  image: ''
  link: 'https://www.research.manchester.ac.uk/portal/elaine.dewhurst.html  '

---
<div class="header-mobile header-team d-flex pt-4 pb-2">
<div class="d-flex justify-content-between align-items-start top-header"><a href="{{ site.baseurl }}/"><h1 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h1></a><button class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button></div>
</div>
<div class="justify-content-center flex-column navbar">
    <p><a href="{{ site.baseurl }}/#about">About</a></p>
    <p><a href="{{ site.baseurl }}/team"><u class="yellow-underline">Team</u></a></p>
    <p><a href="{{ site.baseurl }}/#impact">Impact</a></p>
    <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
</div>


<div class="header header-team d-flex justify-content-between  align-items-center pt-4">
  <a href="{{ site.baseurl }}/"><h4 class="header-title"><b>Uncertain Futures</b><br>+100 Women</h4></a>
  <div class="d-flex w-50 justify-content-between px-4">
    <p><a href="{{ site.baseurl }}/#about">About</a></p>
    <p><a href="{{ site.baseurl }}/team"><u class="yellow-underline">Team</u></a></p>
    <p><a href="{{ site.baseurl }}/#impact">Impact</a></p>
    <p><a href="{{ site.baseurl }}/#contact">Contact</a></p>
  </div>
</div>

<div class="text-container team-container">
  <h1 class="bold mb-5">Participatory<br>Research Team</h1>
  {% for item in page.research_team_fields reversed %}
  <h3 class="team-text yellow-underline mb-3"><b>{{ item.title }}</b></h3>
  <div class="team-text mb-5">{{ item.description }}</div>
  {% endfor %}

  <h3 class="team-text yellow-underline mb-3"><b>The Advisory Group</b></h3>
  <div class="group-grid team-text mb-5">
    {% for item in page.the_advisory_group reversed %}
    <div class="group-item">
      <p><b>{{ item.name }}</b><br><span class="item-description">{{ item.description }}</span></p>
    </div>
    {% endfor %}
  </div>
  <div class="team-text">
    <h3 class="mb-3"><b>Profiles</b></h3>
    <div class="border-yellow"></div>
    {% for item in page.team_profiles %}
    <div class="d-flex justify-content-between align-items-start mt-3 profile-text">
      <p class="w-25">{{ item.name }}</p>
      <p class="w-25">{{ item.title }}</p>
      <p class="w-25 text-end">{{ item.institution }}</p>
    </div>
    <div class="border-yellow"></div>
   {% endfor %}
  </div>
</div>


<footer>
  <div class="d-flex justify-content-between py-5 footer-flex">
      <div>
          <h4 class="bold">Want to keep<br>up to date?</h4>
          <p>Sign up with your email address<br>to receive news and updates.</p>
          <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7_dtp.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                  #mc_embed_signup{clear:left; padding: 0; display: flex; }
                  #mc_embed_signup input {color: white !important; border: solid 2px white; margin-right: 0.5vw;}
                  #mc_embed_signup ::placeholder {color: white !important;}
                  #mc_embed_signup_scroll {display: flex;}
                  #mc_embed_signup form { padding: 0;}
      
                  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
              <form action="https://uncertainfutures.us20.list-manage.com/subscribe/post?u=79c5a2ca7ed5a98f716f33ad5&amp;id=a3fa28b765" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                  
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_79c5a2ca7ed5a98f716f33ad5_a3fa28b765" tabindex="-1" value=""></div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
                          </div>
                      </div>
                  </div>
              </form>
              </div>

              <!--End mc_embed_signup-->
      </div>
      <div class="exhibition-info">
          <h4 class="bold">Visit the Uncertain<br>Futures Exhibition</h4>
          <p>Thursday 24 June 2021<br>
              –—<br>
              Sunday 1 May 2022<br>
              <b>Manchester Art Gallery</b><br>
              <a href="https://manchesterartgallery.org/exhibitions-and-events/exhibition/suzanne-lacy-uncertain-futures/" target="_blank" class="footer-a"><u>Find out more here.</u></a></p>
      </div>
      <div class="d-flex logos-flex">
          <img src="{{ site.baseurl }}/assets/img/manchesterartgallery.png" alt="Manchester Art Gallery Logo" class="logo">
          <img src="{{ site.baseurl }}/assets/img/universitymanchester.png" alt="University of Manchester Logo" class="logo">
          <img src="{{ site.baseurl }}/assets/img/manchestermetropolitan.svg" alt="Manchester Metropolitan Logo" class="logo">
      </div>
  </div>
</footer>
</footer>