.header
    position: fixed
    z-index: 2
    width: 100%
    transition: 0.5s
    top: 0
    padding: 0 4vw

.header p
    font-size: 1.4rem

.header-title
    transition: 0.5s

.hero-section
    position: relative
    height: 100vh
    


.hero-info 
    position: absolute
    bottom: 0
    right: 10vw
    padding: 0 4vw

.text-container 
    margin: 4vw

.line-button 
    border: 2px solid $yellow
    padding: 1vh 2vw

.information-text
    margin: 0 14vw
    font-size: 1.4rem

.carousel-inner
    height: 100vh


.carousel-item
    height: 100%

.carousel-img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: 50% 36%
    filter: brightness(90%)

form input, form textarea
    border: 2px solid $yellow
    background-color: transparent
    color: $yellow
    padding: 1.5vh 1vw 1vh 1vw
    margin-bottom: 2vh

form textarea
    min-height: 35vh

::placeholder
    color: $yellow

form button
    border: 2px solid white
    padding: 1vh 2vw
    background-color: transparent
    color: white

.footer-a:hover
    color: $blue

.separator-img
    width: 100%
    max-height: 85vh
    object-fit: cover

@media screen and (max-width: 600)
    .subtitle
        max-width: 40vw !important