.header-team
    background-color: $blue

.team-container
    padding-top: 20vh

.yellow-underline
    text-decoration: underline
    text-decoration-color: $yellow

.group-item
    max-width: 11vw

.item-description p
    font-size: 0.7em !important
    line-height: 1.4em
    display: block

.group-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 

.border-yellow
    border: 1px solid $yellow

.profile-name
    width: 20vw

.logo
    width: 10vw
    margin-bottom: 2vh


.team-text
    margin: 0 14vw

.team-text p
    font-size: 1.15rem

@media (max-width: 600px)
    .group-grid
        grid-template-columns: 1fr 1fr
        gap: 3vw
    .group-item p
        font-size: 0.9em
    .group-item
        max-width: 50vw

    .profile-text p 
        font-size: 0.9em
