.timeline 
    width: 100%
    position: relative
    overflow: auto
    padding-left: 4vw

.middle-line
    height: 2px
    top: 50%
    transform: translateY(-50%)
    background: $yellow
    position: absolute 
    z-index: 0
    width: 450vw

.event-flex:nth-child(odd) 
    visibility: none !important

.line
    border-left: 2px solid white
    height: 7vh
    margin-left: 4px

.dot 
    height: 10px
    width: 10px
    background-color: white
    border-radius: 50%
    z-index: 2

.year
    font-weight: bold
    font-size: 2.3rem
    background-color: $blue 
    z-index: 2

.month
    font-weight: bold
    font-size: 1.5rem
    writing-mode: tb-rl
    transform: rotate(-180deg)
    background-color: $blue 
    z-index: 2

.event, .year, .month
    margin-right: 2vw

.event-text
    min-width: 16vw

.invisible 
    visibility: hidden

.timeline-arrow
    display: flex
    justify-content: flex-end
    width: 100vw
    padding-right: 2vw
    margin-bottom: 4vh

@media (max-width: 600px)
    .event-text
        min-width: 50vw
        
    .event, .year, .month
        margin-right: 8vw
    
    .middle-line
        width: 1468vw
