<footer class="mt-5">
    <div class="d-flex justify-content-between py-5 footer-flex">
        <div class="exhibition-info">
            <h4 class="bold">Visit the Uncertain<br>Futures Exhibition</h4>
            <p>
                <b>Manchester Art Gallery</b><br>
                <a href="https://manchesterartgallery.org/exhibitions-and-events/exhibition/suzanne-lacy-uncertain-futures/" target="_blank" class="footer-a"><u>Find out more here.</u></a>
            </p>
        </div>
        <div class="d-flex logos-flex">
            <img src="{{ site.baseurl }}/assets/img/manchesterartgallery.png" alt="Manchester Art Gallery Logo" class="logo">
            <img src="{{ site.baseurl }}/assets/img/universitymanchester.png" alt="University of Manchester Logo" class="logo">
            <img src="{{ site.baseurl }}/assets/img/manchestermetropolitan.svg" alt="Manchester Metropolitan Logo" class="logo">
        </div>
    </div>
</footer>