<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">



<meta property="og:title" content="Uncertain Futures Project"/>
<meta property="og:description" content="  Uncertain Futures is a collaborative artwork highlighting intersectional issues around work for women over 50 focusing on gender, age, race, disability and class."/>
<meta property="og:url" content="https://uncertainfuturesproject.com"/>
<meta property="og:image" content="{{ site.baseurl }}/assets/img/Press_1.jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>